<!DOCTYPE html>
<html>
<head>
    <noscript>
        Hey, enable javascript or the page will not work.
    </noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" integrity="sha512-xnwMSDv7Nv5JmXb48gKD5ExVOnXAbNpBWVAXTo9BJWRJRygG8nwQI81o5bYe8myc9kiEF/qhMGPjkSsF06hyHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--<meta charset="utf-8" />
    <link runat="server" rel="shortcut icon" href="/Content/FUI-PNG.png" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Custom styles for this template -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!--<title>FUI Alumni Association Elections 2023</title>

    <style>
            .bi {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }

    /*
     * Sidebar
     */

    /*@@media (min-width: 768px) {
      .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
      }
      .navbar-search {
        display: block;
      }
    }*/

    /*.sidebar .nav-link {
      font-size: .875rem;
      font-weight: 500;
    }

    .sidebar .nav-link.active {
      color: #2470dc;
    }*/

    /*.sidebar-heading {
      font-size: .75rem;
    }*/

    /*
     * Navbar
     */

    /*.navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .form-control {
      padding: .75rem 1rem;
    }*/

    </style>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- head -->
    <!-- Removed by WebCopy --><!--<base href="http://alumni.fui.edu.pk/">--><!-- Removed by WebCopy -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="Alumni Portal">
    <meta name="generator" content="Joomla! - Open Source Content Management">
    <title>FUI Alumni Network</title>
    <link href="~/Content/Images/ICON/FUI-PNG.png" rel="icon">
    <link href="index.php/component/search/index.htm?id=35&amp;Itemid=563&amp;format=opensearch" rel="search" title="Search FUI Alumni Portal" type="application/opensearchdescription+xml">
    <link href="/Content/templates/alumni_fu/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/Content/templates/alumni_fu/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/Content/templates/alumni_fu/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/Content/templates/alumni_fu/css/slide-animate.css" rel="stylesheet" type="text/css">
    <link href="/Content/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&amp;subset=latin" rel="stylesheet" type="text/css">
    <link href="/Content/cache/com_templates/templates/alumni_fu/6f825ee5484e34b68efc65ab695d96a6.css" rel="stylesheet" type="text/css">
    <link href="/Content/media/com_acymailing/css/module_default.css?v=1522670730" rel="stylesheet" type="text/css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <style type="text/css">


        .fu-builder .page-content #section-id-1484209043393 {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #sppb-addon-1490790359345 {
            box-shadow: 0px 0px 0px 0px #fff;
        }

        .fu-builder .page-content #section-id-1490337547139 {
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1490337547140 {
            background-image: url(~/Content/images/2017/03/24/cta-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: inherit;
            background-position: 0 0;
        }

        #sppb-addon-1490339051123 {
            color: rgba(255, 255, 255, 1);
        }

            #sppb-addon-1490339051123 .sppb-addon-title {
                font-size: 14px;
                line-height: 14px;
            }

            #sppb-addon-1490339051123 .sppb-addon-cta {
                padding: 40px 20px;
            }

            #sppb-addon-1490339051123 .sppb-cta-subtitle {
                font-size: 26px;
                line-height: 26px;
            }

            #sppb-addon-1490339051123 #btn-1490339051123.sppb-btn-primary {
                letter-spacing: 1px;
            }

        .fu-builder .page-content #section-id-1490598591122 {
            padding-top: 50px;
            padding-right: 0px;
            padding-bottom: 30px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1490598591123 {
            padding-top: 47px;
            padding-right: 40px;
            padding-bottom: 50px;
            padding-left: 40px;
            background-color: rgba(255, 255, 255, 1);
        }

        #sppb-addon-1490599698073 .sppb-addon-title {
            margin-bottom: 20px;
            color: rgba(37, 37, 37, 1);
            font-size: 22px;
            line-height: 22px;
            line-height: 25px;
            text-transform: uppercase;
            font-weight: 400;
        }

        #column-id-1490598591124 {
            padding-top: 47px;
            padding-right: 40px;
            padding-bottom: 50px;
            padding-left: 40px;
            background-color: rgba(255, 255, 255, 1);
        }

        #sppb-addon-1490598591142 {
            color: rgba(21, 21, 21, 1);
            border-radius: 268px;
        }

            #sppb-addon-1490598591142 .sppb-addon-title {
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1490598591142 h3.sppb-addon-title {
                margin: 0px 0px 38px 0px;
                padding: 0px 0px 0px 0px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1490598591142 h3.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1490598591142 h3.sppb-addon-title {
            }
        }

        #sppb-addon-1552399627275 {
            box-shadow: 0 0 0 0 #ffffff;
            margin: 0 0 30px 0;
        }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1552399627275 {
                margin-bottom: 20px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1552399627275 {
                margin-bottom: 10px;
            }
        }

        #sppb-addon-1552399627275 .sppb-blocknumber-number {
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #298bb1;
            color: #FFFFFF;
        }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1552399627275 .sppb-blocknumber-number {
                width: 48px;
                height: 48px;
                line-height: 48px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1552399627275 .sppb-blocknumber-number {
                width: 48px;
                height: 48px;
                line-height: 48px;
            }
        }

        #column-id-1490598591125 {
            padding-top: 47px;
            padding-right: 40px;
            padding-bottom: 45px;
            padding-left: 40px;
            background-color: rgba(255, 255, 255, 1);
        }

        #sppb-addon-1490612695909 {
            color: rgba(21, 21, 21, 1);
        }

            #sppb-addon-1490612695909 .sppb-addon-title {
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1490612695909 h3.sppb-addon-title {
                margin: 0px 0px 38px 0px;
                padding: 0px 0px 0px 0px;
                text-shadow: 0px 0px 0px #fff;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1490612695909 h3.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1490612695909 h3.sppb-addon-title {
            }
        }

        #sppb-addon-1678861647105 {
            box-shadow: 0 0 0 0 #ffffff;
            margin: 0 0 30px 0;
        }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1678861647105 {
                margin-bottom: 20px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1678861647105 {
                margin-bottom: 10px;
            }
        }

        .fu-builder .page-content #section-id-1484214606897 {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 40px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1484214606898 {
            padding-top: 90px;
        }

        #sppb-addon-1490175770698 {
            color: rgba(21, 21, 21, 1);
        }

            #sppb-addon-1490175770698 .sppb-addon-title {
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1490175770698 h2.sppb-addon-title {
                margin: 0px 0px 32px 0px;
                padding: 0px 0px 0px 0px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1490175770698 h2.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1490175770698 h2.sppb-addon-title {
            }
        }

        #sppb-addon-1484214606903 .sppb-addon-title {
            margin-bottom: 18px;
            color: rgba(21, 21, 21, 1);
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 400;
        }

        #column-id-1484214606899 {
            padding-top: 90px;
        }

        #sppb-addon-1552025860138 {
            color: rgba(21, 21, 21, 1);
        }

            #sppb-addon-1552025860138 .sppb-addon-title {
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1552025860138 h2.sppb-addon-title {
                margin: 0px 0px 32px 0px;
                padding: 0px 0px 0px 0px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1552025860138 h2.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1552025860138 h2.sppb-addon-title {
            }
        }

        #sppb-addon-1490173561414 .sppb-addon-title {
            margin-bottom: 18px;
            color: rgba(21, 21, 21, 1);
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 400;
        }

        #sppb-addon-1490173561414 #btn-1490173561414.sppb-btn-link {
            text-transform: uppercase;
        }

        .fu-builder .page-content #section-id-1551950610877 {
            padding-top: 10px;
            padding-right: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1551950610876 {
            box-shadow: 0 0 0 0 #fff;
        }

        #sppb-addon-1551951476846 {
            box-shadow: 0 0 0 0 #ffffff;
            margin: 0 0 30px 0;
        }

            #sppb-addon-1551951476846 .sppb-addon-title {
                font-size: 32px;
                line-height: 32px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1551951476846 {
                margin-bottom: 20px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1551951476846 {
                margin-bottom: 10px;
            }
        }

        body {
            font-family: Open Sans, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }

        .navbar-global {
            background-color: indigo;
        }

            .navbar-global .navbar-brand {
                color: white;
            }

            .navbar-global .navbar-user > li > a {
                color: white;
            }

        .navbar-primary {
            background-color: #333;
            bottom: 0px;
            left: 0px;
            position: absolute;
            top: 51px;
            width: 200px;
            z-index: 8;
            overflow: hidden;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

            .navbar-primary.collapsed {
                width: 60px;
            }

                .navbar-primary.collapsed .glyphicon {
                    font-size: 22px;
                }

                .navbar-primary.collapsed .nav-label {
                    display: none;
                }

        .btn-expand-collapse {
            position: absolute;
            display: block;
            left: 0px;
            bottom: 0;
            width: 100%;
            padding: 8px 0;
            border-top: solid 1px #666;
            color: grey;
            font-size: 20px;
            text-align: center;
        }

            .btn-expand-collapse:hover,
            .btn-expand-collapse:focus {
                background-color: #222;
                color: white;
            }

            .btn-expand-collapse:active {
                background-color: #111;
            }

        .navbar-primary-menu,
        .navbar-primary-menu li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .navbar-primary-menu li a {
                display: block;
                padding: 10px 18px;
                text-align: left;
                border-bottom: solid 1px #444;
                color: #ccc;
            }

                .navbar-primary-menu li a:hover {
                    background-color: #000;
                    text-decoration: none;
                    color: white;
                }

                .navbar-primary-menu li a .glyphicon {
                    margin-right: 6px;
                }

                .navbar-primary-menu li a:hover .glyphicon {
                    color: orchid;
                }

        .main-content {
            margin-top: 60px;
            margin-left: 200px;
            padding: 20px;
        }

        .collapsed + .main-content {
            margin-left: 60px;
        }
        /* h1 {
            font-family: Open Sans, sans-serif;
            font-size: 80px;
            font-weight: 700;
        }

        h2 {
            font-family: Open Sans, sans-serif;
            font-size: 36px;
            font-weight: normal;
        }

        h3 {
            font-family: Open Sans, sans-serif;
            font-size: 24px;
            font-weight: normal;
        }

        h4 {
            font-family: Open Sans, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }*/

        #sp-top-bar {
            background-color: #f5f5f5;
        }

        #sp-bottom {
            padding: 100px 0px 85px;
        }
    </style>
</head>
<body>
    @*<header id="sp-header">
                <div class="container">
                    <div class="row">
                        <div id="sp-logo" class="col-xs-8 col-sm-5 col-md-5"><div class="sp-column "><h1 class="logo"><a href="index.htm"><img class="sp-default-logo hidden-xs" src="~/Content/images/logo-acha-chota-size-M.jpg" alt="FUI Alumni Portal"><img class="sp-retina-logo hidden-xs" src="~/Content/images/FUILogiiiiicopy.png" alt="FUI Alumni Portal" width="307" height="88"><img class="sp-default-logo visible-xs" src="~/Content/images/FUILogiiiiicopy.png" alt="FUI Alumni Portal"></a></h1></div></div><div id="sp-menu" class="col-xs-4 col-sm-7 col-md-7">
                            <div class="sp-column ">
                                <div class='sp-megamenu-wrapper'>
                                    <a id="offcanvas-toggler" class="visible-sm visible-xs" href="#"><i class="fa fa-bars"></i></a>
                                    <ul class="sp-megamenu-parent menu-fade hidden-sm hidden-xs"><li class="sp-menu-item current-item active"><a href="/">Home</a></li><li class="sp-menu-item sp-has-child"><a href="#">My Network</a><div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 320px;"><div class="sp-dropdown-inner"><ul class="sp-dropdown-items"><li class="sp-menu-item"></li><li class="sp-menu-item"><a href="#">Latest Job Offers</a></li></ul></div></div></li><li class="sp-menu-item sp-has-child"><a href="#">Our Community</a><div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 320px;"><div class="sp-dropdown-inner"><ul class="sp-dropdown-items"><li class="sp-menu-item"><a href="http://admissions.fui.edu.pk">Continuing Education </a></li></ul></div></div></li><li class="sp-menu-item sp-has-child"><a href="">About</a><div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 320px;"><div class="sp-dropdown-inner"><ul class="sp-dropdown-items"><li class="sp-menu-item"><a href="http://fui.edu.pk/index.php/aboutus/rectors-mssg">Rector Message</a></li><li class="sp-menu-item"><a href="#">About FUI</a></li><li class="sp-menu-item"><a href="#">Contact Us</a></li></ul></div></div></li><li class="sp-menu-item">

            @if (@Session["username"] != null && @Session["session_id"] != null)
            {
                <form action="members/Logout"  class="needs-validation" method="post" novalidate>
                    <button class="btn-lg" type="submit">
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </button>
                </form>

            }

        </li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </header>*@


    <header class="cd-main-header js-cd-main-header">
        <a class="" href="/members">
            <img class="sp-retina-logo logo navbar-brand" src="/Content/Images/ICON/fui-png-white.png" alt="">
        </a>

        <div class="alert-success justify-content-center rounded">
            <h5 class="alert-heading p-2">@Session["alum_email"]</h5>
        </div>

        <div class="alert-primary justify-content-center rounded mx-2">
            <h5 class="alert-heading p-2">@Session["alum_campus"]</h5>
        </div>

        <div class="cd-search js-cd-search" style="display:none">
            <form>
                <input class="reset" type="search" placeholder="Search...">
            </form>
        </div>

        <button class="reset cd-nav-trigger js-cd-nav-trigger" aria-label="Toggle menu"><span></span></button>

        <ul class="cd-nav__list js-cd-nav__list" style="font-size:13px !important">

            @*<li class="cd-nav__item"><a href="#0">Tour</a></li>
            <li class="cd-nav__item"><a href="#0">Support</a></li>*@
            <li class="cd-nav__item cd-nav__item--has-children cd-nav__item--account cd-side__item--selected js-cd-item--has-children">
                <a href="#0">
                    <img src="~/Content/Images/user-avatar.png" alt="avatar">
                    <span>Account</span>
                </a>

                <ul class="cd-nav__sub-list">
                    <li class="cd-nav__sub-item"><a href="/members/details">My Account</a></li>
                    <li class="cd-nav__sub-item"><a href="/members/edit">Edit Account</a></li>
                    <li class="cd-nav__sub-item"><a href="/members/Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </header> <!-- .cd-main-header -->

    <main class="cd-main-content">
        <nav class="cd-side-nav js-cd-side-nav">
            <ul class="cd-side__list js-cd-side__list">




                <li class="cd-side__item cd-side__item--has-children cd-side__item--images js-cd-item--has-children" style="font-size:13px !important">
                    <a href="#0">Jobs</a>

                    <ul class="cd-side__sub-list">
                        @*<li class="cd-side__sub-item"><a href="#">Add New Jobs</a></li>*@
                        <li class="cd-side__sub-item"><a href="/members">View All Jobs</a></li>
                        @*<li class="cd-side__sub-item"><a href="#">My Jobs</a></li>*@
                    </ul>
                </li>
                <li class="cd-side__item cd-side__item--has-children cd-side__item--images js-cd-item--has-children" style="font-size:13px !important">
                    <a href="#0">Events</a>

                    <ul class="cd-side__sub-list">
                        <li class="cd-side__sub-item"><a href="/members/upcoming_events">View Upcoming Events</a></li>
                    </ul>
                </li>
                <li class="cd-side__item cd-side__item--has-children cd-side__item--images js-cd-item--has-children" style="font-size:13px !important">
                    <a href="#0">News</a>

                    <ul class="cd-side__sub-list">
                        <li class="cd-side__sub-item"><a href="/members/latest_news">View Latest News</a></li>
                    </ul>
                </li>


            </ul>





        </nav>

        @RenderBody()


    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <div class="me-2 mb-md-0 text-muted text-decoration-none">
                    <img src="~/Content/Images/ICON/FUI-PNG.png" width="50" height="40">
                </div>
                <div class="mb-md-0 text-muted">
                    Copyright 2023. All Rights Reserved.
                    <p> Designed by: IT/MIS</p>
                </div>
            </div>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

    <script type="text/javascript">



        $("#myClose").click(function () {
            $("#myAlert").hide();
        });

        $("#myAlert").fadeTo(5000, 5000).fadeOut(10000, function () {
            $("#myAlert").fadeOut(1000);
        });

        $('.btn-expand-collapse').click(function (e) {
            $('.navbar-primary').toggleClass('collapsed');
        });

        /*   for allow only letters*/

        var name = document.getElementById('name');
        console.log(name);

        function isValid(value) {
            var fieldNum = /^[a-zA-Z ]*$/;

            if ((value.match(fieldNum))) {
                return true
            }
            else {
                return false
            }

        }

        $('#name').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z ]*$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            else {
                e.preventDefault();

                return false;
            }
        });


        $(document).ready(function () {

            $('#alumni-register-form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later

                fields: {
                    name: {
                        validators: {
                            stringLength: {
                                min: 3,
                                max: 30
                            },
                            notEmpty: {
                                message: 'This field is required'
                            },
                            callback: {
                                message: 'Please enter alphabets',
                                callback: function (value, validator, $field) {
                                    if (!isValid(value)) {
                                        return {
                                            valid: false,
                                        };
                                    }
                                    else {
                                        return {
                                            valid: true,
                                        };
                                    }
                                }
                            }
                        },

                    },
                    email: {
                        validators: {
                            stringLength: {
                                min: 10,
                                max: 50,
                                message: 'Email must be between 10 to 50 characters'
                            },
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'Email address is invalid'
                            }
                        }
                    },
                    mobile_no: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            phone: {
                                country: 'PK',
                                message: 'Mobile Number is invalid'
                            }
                        }
                    },
                    program_studied: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    campus: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    degree_completion_date: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    username: {
                        validators: {
                            stringLength: {
                                min: 5,
                                max: 25,
                                message: 'Username must be between 5 to 25 characters'
                            },
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    designation: {
                        validators: {

                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    registration_no: {
                        stringLength: {
                            min: 8,
                            max: 25,
                            message: 'Registration Number must be between 5 to 25 characters'
                        },
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },


                    org_comp_working_in: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },

                    password: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            identical: {
                                field: 'password',
                                message: 'The password and confirm password fields are not the same'
                            }
                        }
                    },


                }
            }).on('success.form.bv', function (e) {
                // Prevent form submission
                e.preventDefault();
                var valdata = $("#alumni-register-form").serialize();
                //to get alert popup

                $.ajax({
                    url: "/members/Create",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: valdata,
                    success: function (msg) {
                        alert(msg)
                    }
                });
                $("#alumni-register-form").data('bootstrapValidator').resetForm();
                $("#alumni-register-form")[0].reset();
                $(".alert").fadeTo(4000, 4000).fadeOut(4000, function () {
                    $(".alert").fadeOut(4000);
                });

            });
        });


        $(document).ready(function () {

            $('#alumni-login-form').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later

                fields: {
                    name: {
                        validators: {
                            stringLength: {
                                min: 3,
                                max: 30
                            },
                            notEmpty: {
                                message: 'This field is required'
                            },
                            callback: {
                                message: 'Please enter alphabets',
                                callback: function (value, validator, $field) {
                                    if (!isValid(value)) {
                                        return {
                                            valid: false,
                                        };
                                    }
                                    else {
                                        return {
                                            valid: true,
                                        };
                                    }
                                }
                            }
                        },

                    },
                    email: {
                        validators: {
                            stringLength: {
                                min: 10,
                                max: 50,
                                message: 'Email must be between 10 to 50 characters'
                            },
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'Email address is invalid'
                            }
                        }
                    },
                    mobile_no: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            phone: {
                                country: 'PK',
                                message: 'Mobile Number is invalid'
                            }
                        }
                    },
                    program_studied: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    campus: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    degree_completion_date: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    username: {
                        validators: {
                            stringLength: {
                                min: 5,
                                max: 25,
                                message: 'Username must be between 5 to 25 characters'
                            },
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    designation: {
                        validators: {

                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    registration_no: {
                        stringLength: {
                            min: 8,
                            max: 25,
                            message: 'Registration Number must be between 5 to 25 characters'
                        },
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },


                    org_comp_working_in: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },

                    password: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            identical: {
                                field: 'password',
                                message: 'The password and confirm password fields are not the same'
                            }
                        }
                    },


                }
            })
        });


        $(document).ready(function () {
            $("#password").on('keyup', function () {

            });
            $("#confirm_password").on('keyup', function () {

            });

            $("#mobile_no").inputmask({
                mask: '03999999999',
                placeholder: '',
                showMaskOnHover: false,
                showMaskOnFocus: true,
                onBeforePaste: function (pastedValue, opts) {
                    var processedValue = pastedValue;

                    //do something with it

                    return processedValue;
                }
            });
        });
        $(".modal-link").click(function () {
            $('#myModal').modal('show');
        });
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
        $("#reset-button").click(function () {
            $("#alumni-register-form").data('bootstrapValidator').resetForm();
            $("#alumni-register-form")[0].reset();
        });
    </script>
    <script type="text/javascript">




        $(document).ready(function () {

            $("#alumni-login-button").click(function (e) {
                //Serialize the form datas.
                var valdata = $("#alumni-login-form").serialize();
                //to get alert popup
                alert(valdata);
                $.ajax({
                    url: "/members/Login",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: valdata,

                });
            });
        });




    </script>

</body>
</html>
