@model WebApplication1.Models.news
@using System.Configuration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="mt-5 p-5 rounded-3">
    <form action="/news/create" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>

        @Html.AntiForgeryToken()

        <div class="form-horizontal bg-light mt-2 rounded-3 p-2">

            <div class="p-3">
                @Html.ActionLink("Back to List", "Index")
            </div>
            <h4 class="row justify-content-center pt-2 pb-5">Add Latest News</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.news_title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.news_title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.news_title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.news_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.news_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.news_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.news_details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.news_details, new { htmlAttributes = new { @class = "form-control", @style = "font-size:10pt", @rows = "5" } })
                    @Html.ValidationMessageFor(model => model.news_details, "", new { @class = "text-danger" })
                </div>
            </div>

            @{
                string configvalue1 = ConfigurationManager.AppSettings["campus_list"];
                string[] values = configvalue1.Split(',').Select(sValue => sValue.Trim()).ToArray();
                List<SelectListItem> campuses = new List<SelectListItem>();
                for (int i = 0; i < values.Length; i++)
                {
                    if (i == 0)
                    {
                        campuses.Add(new SelectListItem { Text = values[i], Selected = true, Disabled = true });
                    }
                    else
                    {
                        campuses.Add(new SelectListItem { Text = values[i], Value = values[i] });
                    }
                }
            }

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.campus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.campus, campuses, htmlAttributes: new { @class = "col-md-12" })
                    @Html.ValidationMessageFor(model => model.campus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.news_image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.news_image, new { htmlAttributes = new { @class = "form-control", @type = "file", @style = "height:100%" } })
                    @Html.ValidationMessageFor(model => model.news_image, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.news_link, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.news_link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.news_link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row justify-content-center">
                @Html.LabelFor(model => model.news_expir_date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.news_expir_date, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.news_expir_date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row justify-content-center p-2">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Add" class="sppb-btn" />
                </div>
            </div>



        </div>
       
    </form>

   
</div>


<script src="~/Content/util.js"></script>
<script src="~/Content/menu-aim.js"></script>
<script src="~/Content/main.js"></script>