@{
    Layout = "~/Views/Shared/_RegisterAlumniLayoutPage.cshtml";
}
@Scripts.Render("~/bundles/bootstrap")
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- head -->
    <!-- Removed by WebCopy --><!--<base href="http://alumni.fui.edu.pk/">--><!-- Removed by WebCopy -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="Alumni Portal">
    <meta name="generator" content="Joomla! - Open Source Content Management">
    <title>Home</title>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="index.php/component/search/index.htm?id=35&amp;Itemid=563&amp;format=opensearch" rel="search" title="Search FUI Alumni Portal" type="application/opensearchdescription+xml">
    <link href="/Content/templates/alumni_fu/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/Content/templates/alumni_fu/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/Content/templates/alumni_fu/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/Content/templates/alumni_fu/css/slide-animate.css" rel="stylesheet" type="text/css">
    <link href="/Content/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&amp;subset=latin" rel="stylesheet" type="text/css">
    @*<link href="/Content/cache/com_templates/templates/alumni_fu/6f825ee5484e34b68efc65ab695d96a6.css" rel="stylesheet" type="text/css">*@
    <link href="/Content/media/com_acymailing/css/module_default.css?v=1522670730" rel="stylesheet" type="text/css">
    <style type="text/css">

        .fu-builder .page-content #section-id-1484209043393 {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #sppb-addon-1490790359345 {
            box-shadow: 0px 0px 0px 0px #fff;
        }

        .fu-builder .page-content #section-id-1490337547139 {
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1490337547140 {
            background-image: url(~/Content/images/2017/03/24/cta-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: inherit;
            background-position: 0 0;
        }

        #sppb-addon-1490339051123 {
            color: rgba(255, 255, 255, 1);
        }

            #sppb-addon-1490339051123 .sppb-addon-title {
                font-size: 14px;
                line-height: 14px;
            }

            #sppb-addon-1490339051123 .sppb-addon-cta {
                padding: 40px 20px;
            }

            #sppb-addon-1490339051123 .sppb-cta-subtitle {
                font-size: 26px;
                line-height: 26px;
            }

            #sppb-addon-1490339051123 #btn-1490339051123.sppb-btn-primary {
                letter-spacing: 1px;
            }

        .fu-builder .page-content #section-id-1490598591122 {
            padding-top: 50px;
            padding-right: 0px;
            padding-bottom: 30px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1490598591123 {
            /*border-radius:5px;*/
            padding-top: 47px;
            padding-right: 40px;
            padding-bottom: 50px;
            padding-left: 40px;
            background-color: rgba(255, 255, 255, 1);
        }

        #sppb-addon-1490599698073 .sppb-addon-title {
            margin-bottom: 20px;
            color: rgba(37, 37, 37, 1);
            font-size: 22px;
            line-height: 22px;
            line-height: 25px;
            text-transform: uppercase;
            font-weight: 400;
        }

        #column-id-1490598591124 {
            border-radius: 5px;
            padding-top: 47px;
            padding-right: 40px;
            padding-bottom: 50px;
            padding-left: 40px;
            background-color: rgba(255, 255, 255, 1);
        }

        #sppb-addon-1490598591142 {
            color: rgba(21, 21, 21, 1);
            border-radius: 268px;
        }

            #sppb-addon-1490598591142 .sppb-addon-title {
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1490598591142 h3.sppb-addon-title {
                margin: 0px 0px 38px 0px;
                padding: 0px 0px 0px 0px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1490598591142 h3.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1490598591142 h3.sppb-addon-title {
            }
        }

        #sppb-addon-1552399627275 {
            box-shadow: 0 0 0 0 #ffffff;
            margin: 0 0 30px 0;
        }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1552399627275 {
                margin-bottom: 20px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1552399627275 {
                margin-bottom: 10px;
            }
        }

        #sppb-addon-1552399627275 .sppb-blocknumber-number {
            width: 80px;
            height: 40px;
            line-height: 40px;
            background-color: #298bb1;
            color: #FFFFFF;
        }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1552399627275 .sppb-blocknumber-number {
                width: 88px;
                height: 48px;
                line-height: 48px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1552399627275 .sppb-blocknumber-number {
                width: 88px;
                height: 48px;
                line-height: 48px;
            }
        }

        #column-id-1490598591125 {
            padding-top: 47px;
            padding-right: 40px;
            padding-bottom: 45px;
            padding-left: 40px;
            background-color: rgba(255, 255, 255, 1);
        }

        #sppb-addon-1490612695909 {
            color: rgba(21, 21, 21, 1);
        }

            #sppb-addon-1490612695909 .sppb-addon-title {
                font-size: 24px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1490612695909 h3.sppb-addon-title {
                margin: 0px 0px 38px 0px;
                padding: 0px 0px 0px 0px;
                text-shadow: 0px 0px 0px #fff;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1490612695909 h3.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1490612695909 h3.sppb-addon-title {
            }
        }

        #sppb-addon-1678861647105 {
            box-shadow: 0 0 0 0 #ffffff;
            margin: 0 0 30px 0;
        }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1678861647105 {
                margin-bottom: 20px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1678861647105 {
                margin-bottom: 10px;
            }
        }

        .fu-builder .page-content #section-id-1484214606897 {
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 40px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1484214606898 {
            padding-top: 90px;
        }

        #sppb-addon-1490175770698 {
            color: rgba(21, 21, 21, 1);
        }

            #sppb-addon-1490175770698 .sppb-addon-title {
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1490175770698 h2.sppb-addon-title {
                margin: 0px 0px 32px 0px;
                padding: 0px 0px 0px 0px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1490175770698 h2.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1490175770698 h2.sppb-addon-title {
            }
        }

        #sppb-addon-1484214606903 .sppb-addon-title {
            margin-bottom: 18px;
            color: rgba(21, 21, 21, 1);
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 400;
        }

        #column-id-1484214606899 {
            padding-top: 90px;
        }

        #sppb-addon-1552025860138 {
            color: rgba(21, 21, 21, 1);
        }

            #sppb-addon-1552025860138 .sppb-addon-title {
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }

            #sppb-addon-1552025860138 h2.sppb-addon-title {
                margin: 0px 0px 32px 0px;
                padding: 0px 0px 0px 0px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1552025860138 h2.sppb-addon-title {
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1552025860138 h2.sppb-addon-title {
            }
        }

        #sppb-addon-1490173561414 .sppb-addon-title {
            margin-bottom: 18px;
            color: rgba(21, 21, 21, 1);
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 400;
        }

        #sppb-addon-1490173561414 #btn-1490173561414.sppb-btn-link {
            text-transform: uppercase;
        }

        .fu-builder .page-content #section-id-1551950610877 {
            padding-top: 10px;
            padding-right: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        #column-id-1551950610876 {
            box-shadow: 0 0 0 0 #fff;
        }

        #sppb-addon-1551951476846 {
            box-shadow: 0 0 0 0 #ffffff;
            margin: 0 0 30px 0;
        }

            #sppb-addon-1551951476846 .sppb-addon-title {
                font-size: 32px;
                line-height: 32px;
            }

        @@media (min-width:768px) and (max-width:991px) {
            #sppb-addon-1551951476846 {
                margin-bottom: 20px;
            }
        }

        @@media (max-width:767px) {
            #sppb-addon-1551951476846 {
                margin-bottom: 10px;
            }
        }

        body {
            font-family: Open Sans, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }

        h1 {
            font-family: Open Sans, sans-serif;
            font-size: 80px;
            font-weight: 700;
        }

        h2 {
            font-family: Open Sans, sans-serif;
            font-size: 36px;
            font-weight: normal;
        }

        h3 {
            font-family: Open Sans, sans-serif;
            font-size: 24px;
            font-weight: normal;
        }

        h4 {
            font-family: Open Sans, sans-serif;
            font-size: 16px;
            font-weight: normal;
        }

        #sp-top-bar {
            background-color: #f5f5f5;
        }

        #sp-bottom {
            padding: 100px 0px 85px;
        }
    </style>
    <script type="application/json" class="joomla-script-options new">{"csrf.token":"fa2a9789d1843835586a0ca5f8e1e4b6","system.paths":{"root":"","base":""},"joomla.jtext":{"COM_FUBUILDER_FRONTEND_EDITOR":"Frontend Editor","COM_FUBUILDER_PREVIEW":"Preview","COM_FUBUILDER_APPLY":"Apply","COM_FUBUILDER_CANCEL":"Cancel","COM_FUBUILDER_MEDIA_MANAGER":"Media Manager","COM_FUBUILDER_MEDIA_MANAGER_UPLOAD_FILES":"Upload Files","COM_FUBUILDER_MEDIA_MANAGER_CLOSE":"Close Modal","COM_FUBUILDER_MEDIA_MANAGER_INSERT":"Insert","COM_FUBUILDER_MEDIA_MANAGER_SEARCH":"Search","COM_FUBUILDER_MEDIA_MANAGER_CANCEL":"Cancel","COM_FUBUILDER_MEDIA_MANAGER_DELETE":"Delete","COM_FUBUILDER_MEDIA_MANAGER_CONFIRM_DELETE":"You are about to permanently delete this item. 'Cancel' to stop, 'OK' to delete.","COM_FUBUILDER_MEDIA_MANAGER_LOAD_MORE":"Load More","COM_FUBUILDER_MEDIA_MANAGER_UNSUPPORTED_FORMAT":"File format not supported.","COM_FUBUILDER_MEDIA_MANAGER_BROWSE_MEDIA":"Browse Media","COM_FUBUILDER_MEDIA_MANAGER_BROWSE_FOLDERS":"Browse Folders","COM_FUBUILDER_MEDIA_MANAGER_CREATE_FOLDER":"New Folder","COM_FUBUILDER_ADDON_ICON_SELECT":"Select Icon","COM_FUBUILDER_MEDIA_MANAGER_ENTER_DIRECTORY_NAME":"Please enter the name of the directory which should be created.","COM_FUBUILDER_MEDIA_MANAGER_MEDIA_UPLOADING":"Uploading","COM_FUBUILDER_MEDIA_MANAGER_UPLOAD_FAILED":"Upload Failed","COM_FUBUILDER_MEDIA_MANAGER_MEDIA_LARGE":"This file is too large to upload.","COM_FUBUILDER_MEDIA_MANAGER_FILE_NOT_SUPPORTED":"File not supported","COM_FUBUILDER_ROW_OPTIONS":"Row Options","COM_FUBUILDER_ADD_NEW_ROW":"Add New Row","COM_FUBUILDER_DUPLICATE_ROW":"Duplicate row","COM_FUBUILDER_DISABLE_ROW":"Disable Row","COM_FUBUILDER_ENABLE_ROW":"Enable Row","COM_FUBUILDER_COPY_ROW":"Copy Row","COM_FUBUILDER_ROW_COPIED":"Copied","COM_FUBUILDER_PASTED":"Pasted","COM_FUBUILDER_PASTE_ROW":"Paste Row","COM_FUBUILDER_DELETE_ROW":"Delete Row","COM_FUBUILDER_ROW_TOGGLE":"Toggle Row","COM_FUBUILDER_DELETE_ROW_CONFIRMATION":"Do you really want to delete this row?","COM_FUBUILDER_ROW_COLUMNS_MANAGEMENT":"Add\/Manage Columns","COM_FUBUILDER_ROW_COLUMNS_CUSTOM":"Custom","COM_FUBUILDER_ROW_COLUMNS_GENERATE":"Generate","COM_FUBUILDER_IMPORT_PAGE":"Import","COM_FUBUILDER_IMPORT_PAGE_ALT":"Import","COM_FUBUILDER_EXPORT_PAGE":"Export","COM_FUBUILDER_PAGE_TEMPLATES":"Page Templates","COM_FUBUILDER_UNDO":"Undo","COM_FUBUILDER_REDO":"Redo","COM_FUBUILDER_SAVE":"Save","COM_FUBUILDER_SAVE_ROW":"Save Row","COM_FUBUILDER_ROW_COLUMNS_OPTIONS":"Column Options","COM_FUBUILDER_DELETE_COLUMN":"Delete Column","COM_FUBUILDER_ADD_NEW_ADDON":"Add New Addon","COM_FUBUILDER_ADDON":"Addon","COM_FUBUILDER_DELETE_ADDON":"Delete Addon","COM_FUBUILDER_DUPLICATE_ADDON":"Clone Addon","COM_FUBUILDER_EDIT_ADDON":"Edit Addon","COM_FUBUILDER_ADDONS_LIST":"Addons List","COM_FUBUILDER_ALL":"All","COM_FUBUILDER_MODAL_CLOSE":"Close Modal","COM_FUBUILDER_DISABLE_COLUMN":"Disable Column","COM_FUBUILDER_ENABLE_COLUMN":"Enable Column","COM_FUBUILDER_YES":"Yes","COM_FUBUILDER_NO":"No","COM_FUBUILDER_PAGE_TEMPLATES_LIST":"Template List","COM_FUBUILDER_PAGE_TEMPLATE_LOAD":"Import","COM_FUBUILDER_ENABLE_ADDON":"Enable Addon","COM_FUBUILDER_DISABLE_ADDON":"Disable Addon","COM_FUBUILDER_SAVE_ADDON":"Save addon in library","COM_FUBUILDER_ADDON_PARENT_COLUMN":"Parent Column","COM_FUBUILDER_ADD_NEW_INNER_ROW":"Add Inner Row","COM_FUBUILDER_MOVE_COLUMN":"Move Column","COM_FUBUILDER_DAY":"Day","COM_FUBUILDER_DAYS":"Days","COM_FUBUILDER_HOUR":"Hour","COM_FUBUILDER_HOURS":"Hours","COM_FUBUILDER_MINUTE":"Minute","COM_FUBUILDER_MINUTES":"Minutes","COM_FUBUILDER_SECOND":"Second","COM_FUBUILDER_SECONDS":"Seconds","COM_FUBUILDER_ADDON_OPTIN_FORM_SUBCSCRIBE":"Subscribe","COM_FUBUILDER_ADDON_AJAX_CONTACT_NAME":"Name","COM_FUBUILDER_ADDON_AJAX_CONTACT_EMAIL":"Email"}}</script>
    <script src="/Content/media/system/js/core.js?0879ceee5604860ca82651632966b9b5" type="text/javascript"></script>
    <script src="/Content/media/jui/js/jquery.min.js?0879ceee5604860ca82651632966b9b5" type="text/javascript"></script>
    <script src="/Content/media/jui/js/jquery-noconflict.js?0879ceee5604860ca82651632966b9b5" type="text/javascript"></script>
    <script src="/Content/media/jui/js/jquery-migrate.min.js?0879ceee5604860ca82651632966b9b5" type="text/javascript"></script>
    <script src="/Content/components/com_fubuilder/assets/js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
    <script src="/Content/components/com_fubuilder/assets/js/fubuilder.js" type="text/javascript"></script>
    <script src="/Content/templates/alumni_fu/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/Content/templates/alumni_fu/js/addon.slider.js" type="text/javascript"></script>
    <script src="/Content/templates/alumni_fu/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/templates/alumni_fu/js/jquery.sticky.js" type="text/javascript"></script>
    <script src="/Content/templates/alumni_fu/js/main.js" type="text/javascript"></script>
    <script src="/Content/templates/alumni_fu/js/frontend-edit.js" type="text/javascript"></script>
    <script src="/Content/media/com_acymailing/js/acymailing_module.js?v=596" type="text/javascript" async="async"></script>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            "use strict";

            var $slideFullwidth = $("#sppb-addon-1490790359345 #slide-fullwidth");

            var $autoplay = $slideFullwidth.attr("data-sppb-slide-ride");
            if ($autoplay == "true") { var $autoplay = true; } else { var $autoplay = false };

            var $controllers = $slideFullwidth.attr("data-sppb-slidefull-controllers");
            if ($controllers == "true") { var $controllers = true; } else { var $controllers = false };

            $slideFullwidth.owlCarousel({
                margin: 0,
                loop: true,
                video: true,
                autoplay: $autoplay,
                animateIn: "fadeIn",
                animateOut: "fadeOut",
                autoplayHoverPause: true,
                autoplaySpeed: 1500,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                },
                dots: $controllers,
            });

            $(".sppbSlidePrev").click(function () {
                $slideFullwidth.trigger("prev.owl.carousel", [400]);
            });

            $(".sppbSlideNext").click(function () {
                $slideFullwidth.trigger("next.owl.carousel", [400]);
            });
        });

        var helix3_template_uri = '/templates/alumni_fu/';

        var sp_preloader = '0';

        var sp_gotop = '1';

        var sp_offanimation = 'slidetop';

        if (typeof acymailingModule == 'undefined') {
            var acymailingModule = Array();
        }

        acymailingModule['emailRegex'] = /^[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+)*\@@@@([a-z0-9-]+\.)+[a-z0-9]{2,10}$/i;

        acymailingModule['NAMECAPTION'] = 'Name';
        acymailingModule['NAME_MISSING'] = 'Please enter your name';
        acymailingModule['EMAILCAPTION'] = 'Your Email...';
        acymailingModule['VALID_EMAIL'] = 'Please enter a valid e-mail address';
        acymailingModule['ACCEPT_TERMS'] = 'Please check the Terms and Conditions';
        acymailingModule['CAPTCHA_MISSING'] = 'The captcha is invalid, please try again';
        acymailingModule['NO_LIST_SELECTED'] = 'Please select the lists you want to subscribe to';

    </script>
    <meta content="Home" property="og:title">
    <meta content="website" property="og:type">
    <meta content="http://alumni.fui.edu.pk/" property="og:url">

</head>
<body class="site com-fubuilder view-page no-layout no-task itemid-563 en-gb ltr  sticky-header layout-fluid off-canvas-menu-init">

    <marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" class="text-white" style="background:rgba(57, 55,128, 0.9); position: relative; z-index: 999;" width="100%" direction="left">
        @foreach (var news_item in ViewBag.news_list)
        {
            if (news_item.news_expir_date > DateTime.Now || news_item.news_date == DateTime.Now)
            {
                <a href=@news_item.news_link class="text-white" target="_blank">
                    @news_item.news_title &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </a>
            }
        }
    </marquee>

    <div class="body-wrapper">
        <div class="body-innerwrapper">
            <div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close btn-lg" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="sp-component" class="col-sm-12 col-md-12">
                    <div class="sp-column ">
                        <div id="fu-builder" class="fu-builder  page-35">
                            <div class="page-content">
                                <div id="section-id-1484209043393" class="sppb-section ">
                                    <div class="sppb-container-inner">
                                        <div class="sppb-row">
                                            <div class="sppb-col-md-12" id="column-wrap-id-1484209043394">
                                                <div id="column-id-1484209043394" class="sppb-column">
                                                    <div class="sppb-column-addons">
                                                        <div id="sppb-addon-1490790359345" class="clearfix">
                                                            <div class="sppb-addon sppb-slider-wrapper sppb-slider-fullwidth-wrapper owl-theme">
                                                                <div class="sppb-slider-item-wrapper">
                                                                    <div id="slide-fullwidth" class="owl-carousel" data-sppb-slidefull-controllers="true" data-sppb-slide-ride="true">
                                                                        <div class="sppb-slideshow-fullwidth-item item">
                                                                            <div class="sppb-slide-item-bg sppb-slideshow-fullwidth-item-bg" style="background-image: url(../Content/images/2022/07/27/fusst-convocation-2023.jpg); background-repeat: no-repeat; background-size: cover;background-position:center center;"><div class="container"><div class="sppb-slideshow-fullwidth-item-text"><div class="sppb-slideshow-fullwidth-vertical-middle"><h1 class="sppb-fullwidth-title fadeInDown sppb-wow fadeInDown" style="text-shadow:2px 2px 2px black"> FUSST Convocation 2023 </h1><p class="details fadeInLeftBig sppb-wow fadeInLeftBig" data-sppb-wow-delay="200ms" style="text-shadow:2px 2px 2px black">is tentatively scheduled to be held on 26 October 2023.</p><div><a href="https://fui.edu.pk/convocation/login.php" target="_blank" id="btn-1490339051123" class="sppb-btn sppb-btn-lg sppb-btn-primary sppb-btn-rounded"><i class="fa fa-graduation-cap"></i> Register </a></div></div></div></div></div>
                                                                        </div>
                                                                        <div class="sppb-slideshow-fullwidth-item item">
                                                                            <div class="sppb-slide-item-bg sppb-slideshow-fullwidth-item-bg" style="background-image: url(../Content/images/2017/04/03/banner1.jpg); background-repeat: no-repeat; background-size: cover;background-position:center center;"><div class="container"><div class="sppb-slideshow-fullwidth-item-text"><div class="sppb-slideshow-fullwidth-vertical-middle"><h1 class="sppb-fullwidth-title fadeInDown sppb-wow fadeInDown"> Alumni Elections 2023 </h1><p class="details fadeInLeftBig sppb-wow fadeInLeftBig" data-sppb-wow-delay="200ms">FUI Alumni Elections to be held in March 2023</p></div></div></div></div>
                                                                        </div>
                                                                        <div class="sppb-slideshow-fullwidth-item item">
                                                                            <div class="sppb-slide-item-bg sppb-slideshow-fullwidth-item-bg" style="background-image: url(../Content/images/2022/07/27/alumni-slider.jpg); background-repeat: no-repeat; background-size: cover; background-position:center center;"><div class="container"><div class="sppb-slideshow-fullwidth-item-text"><div class="sppb-slideshow-fullwidth-vertical-middle"><h1 class="sppb-fullwidth-title fadeInDown sppb-wow fadeInDown" style="text-shadow:2px 2px 2px black"> Alumni Home Coming 2023 </h1></div></div></div></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div id="section-id-1490337547139" class="sppb-section ">
                                    <div class="sppb-container-inner">
                                        <div class="sppb-row">
                                            <div class="sppb-col-md-12" id="column-wrap-id-1490337547140">
                                                <div id="column-id-1490337547140" class="sppb-column home-callto-action2">
                                                    <div class="sppb-column-addons">
                                                        <div id="sppb-addon-1490339051123" class="clearfix">
                                                            <div class="sppb-addon sppb-addon-cta ">
                                                                <div class="sppb-row">
                                                                    <div class="sppb-col-sm-9">
                                                                        <p class="sppb-addon-title sppb-cta-title">Welcome Alumni</p><p class="sppb-lead sppb-cta-subtitle">
                                                                            Be a Member !
                                                                            Stay Connected.

                                                                        </p>
                                                                    </div>
                                                                    <div class="sppb-col-sm-3 sppb-text-right"><a href="/members/register" id="btn-1490339051123" class="sppb-btn sppb-btn-lg sppb-btn-primary sppb-btn-rounded sppb-btn-block"><i class="fa fa-institution"></i> Login / Register </a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><section id="section-id-1490598591122" class="sppb-section  educon-stories-event-section">
                                    <div class="sppb-row-container">
                                        <div class="sppb-row">
                                            @*<div class="sppb-col-md-4 sppb-col-sm-4" id="column-wrap-id-1490598591123">
                                                <div id="column-id-1490598591123" class="sppb-column request-information educon-box-shadow">
                                                    <div class="sppb-column-addons">
                                                        <div id="sppb-addon-1490599698073" class="clearfix">
                                                            <div class="sppb-addon sppb-addon-feature sppb-text-left ">
                                                                <div class="sppb-addon-content">
                                                                    <div class="sppb-addon-content-wrap">
                                                                        <h4 class="sppb-addon-title sppb-feature-box-title">Alumni Card Can Be Issued on Request</h4><div class="sppb-addon-text">
                                                                            <div class="off-canvas-wrap" data-offcanvas="">
                                                                                <div class="inner-wrap">
                                                                                    <div class="row">
                                                                                        <div class="small-12 medium-12 large-12 columns text-center">
                                                                                            <h5 style="text-align: justify;"><span style="font-size: 10pt;">The main objectives of alumni connect, is to provide a platform for the Alumni to communicate with the institution by maintaining a complete database, organizing events, and establishing a&nbsp;strong link on campus.</span></h5>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="off-canvas-wrap" data-offcanvas="">&nbsp;</div>
                                                                        </div><a href="#" id="btn-1490599698073" class="sppb-btn  sppb-btn-primary sppb-btn-rounded">Contact Us Now <i class="fa fa-angle-right"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                            <div class="sppb-col-md-4 sppb-col-sm-4" id="column-wrap-id-1490598591124">
                                                <div id="column-id-1490598591124" class="sppb-column educon-box-shadow">
                                                    <div class="sppb-column-addons">
                                                        <div id="sppb-addon-1490598591142" class="clearfix">
                                                            <div class="sppb-addon sppb-addon-header border-heading-style sppb-text-left">
                                                                <h3 class="sppb-addon-title">Upcoming events</h3>
                                                            </div>
                                                        </div>
                                                        @foreach (var item in ViewBag.events_list)
                                                        {
                                                            if (item.event_expir_date > DateTime.Now || item.event_expir_date == DateTime.Now)
                                                            {
                                                                <div id="sppb-addon-1552399627275" class="clearfix">
                                                                    <div class="sppb-addon sppb-addon-blocknumber ">
                                                                        <div class="sppb-addon-content">
                                                                            <div class="sppb-blocknumber sppb-media">

                                                                                <p class="sppb-block-blocknumber text-break" style="font-size:10pt">@item.event_date_time.ToString("dddd, dd MMMM yyyy")</p>

                                                                                <div class="sppb-media-body sppb-text-left"><h3 class="sppb-media-heading">@item.event_title</h3>@item.event_details</div>
                                                                                @if (@item.event_link != null)
                                                                                {
                                                                                    <div><a class="sppb-block-blocknumber text-break link-secondary" href="@item.event_link" target="_blank">@item.event_link</a></div>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sppb-col-md-4 sppb-col-sm-4" id="column-wrap-id-1490598591125">
                                                <div id="column-id-1490598591125" class="sppb-column educon-box-shadow articles-slider-wrap">
                                                    <div class="sppb-column-addons">
                                                        <div id="sppb-addon-1490612695909" class="clearfix">
                                                            <div class="sppb-addon sppb-addon-header border-heading-style sppb-text-left">
                                                                <h3 class="sppb-addon-title">News</h3>
                                                            </div>
                                                        </div>
                                                        @foreach (var news_item in ViewBag.news_list)
                                                        {
                                                            if (news_item.news_expir_date > DateTime.Now || news_item.news_date == DateTime.Now)
                                                            {
                                                                <div id="sppb-addon-1678861647105" class="clearfix">
                                                                    <div class="sppb-addon sppb-addon-text-block 0  ">
                                                                        <div class="sppb-addon-content">
                                                                            <div><strong>@news_item.news_title</strong><br></div>
                                                                            <strong><p class="sppb-block-blocknumber text-break" style="font-size:10pt">@news_item.news_date.ToString("dddd, dd MMMM yyyy")</p></strong>

                                                                            <div class="p-4">
                                                                                <p style="font-size:10pt" class="mt-2 mb-2 text-justify">@news_item.news_details</p>

                                                                                @if (@news_item.news_image != null)
                                                                                {
                                                                                    <a href="#" class="pop">
                                                                                        <img src="@news_item.news_image" class="job-image" />
                                                                                    </a>

                                                                                }

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sppb-col-md-4 sppb-col-sm-4" id="column-wrap-id-1490598591125">
                                                <div id="column-id-1490598591125" class="sppb-column educon-box-shadow articles-slider-wrap">
                                                    <div class="sppb-column-addons">
                                                        <div id="sppb-addon-1490612695909" class="clearfix"><div class="sppb-addon sppb-addon-header border-heading-style sppb-text-left"><h3 class="sppb-addon-title">Latest Jobs</h3></div></div><div id="sppb-addon-1678861647105" class="clearfix">
                                                            <div class="sppb-addon sppb-addon-text-block 0  ">
                                                                <div class="sppb-addon-content">
                                                                    <div>
                                                                        <div class="gmail_signature" dir="ltr">
                                                                            <div dir="ltr">
                                                                                <div dir="ltr">
                                                                                    <div dir="ltr">
                                                                                        <div dir="ltr">
                                                                                            <center>
                                                                                                @foreach (var jobs_item in ViewBag.jobs_list)
                                                                                                {
                                                                                                    <a href="#" class="pop">
                                                                                                        <img class="img-fluid small justify-content-center mb-2 job-image" src="@jobs_item.image_path" />

                                                                                                    </a>
                                                                                                }
                                                                                            </center>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section><section id="section-id-1484214606897" class="sppb-section  home-feature-new"><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-col-md-6 sppb-col-sm-4 sppb-col-xs-12" id="column-wrap-id-1484214606898"><div id="column-id-1484214606898" class="sppb-column margin-fix"><div class="sppb-column-addons"><div id="sppb-addon-1490175770698" class="clearfix"><div class="sppb-addon sppb-addon-header border-heading-style sppb-text-left"><h2 class="sppb-addon-title">Placement Opportunities</h2></div></div><div id="sppb-addon-1484214606903" class="clearfix"><div class="sppb-addon sppb-addon-feature sppb-text-left border-heading-style"><div class="sppb-addon-content"><span class="sppb-img-container"><img class="sppb-img-responsive" src="~/Content/images/2017/03/24/feature1.jpg" alt="Get Connected with Seniors"></span><div class="sppb-addon-content-wrap"><h4 class="sppb-addon-title sppb-feature-box-title">Get Connected with Seniors</h4><div class="sppb-addon-text">This platform helps in consolidation of job opportunities. You may share the job openings in your respective organizations here for our alumni community or get employeed by connecting.</div></div></div></div></div></div></div></div><div class="sppb-col-md-6 sppb-col-sm-4 sppb-col-xs-12" id="column-wrap-id-1484214606899"><div id="column-id-1484214606899" class="sppb-column "><div class="sppb-column-addons"><div id="sppb-addon-1552025860138" class="clearfix"><div class="sppb-addon sppb-addon-header border-heading-style sppb-text-left"><h2 class="sppb-addon-title">Alumni Chapters</h2></div></div><div id="sppb-addon-1490173561414" class="clearfix"><div class="sppb-addon sppb-addon-feature sppb-text-left sppb-major-btn-link"><div class="sppb-addon-content"><span class="sppb-img-container"><img class="sppb-img-responsive" src="~/Content/images/2017/03/24/feature2.jpg" alt="Your Success is Our Success"></span><div class="sppb-addon-content-wrap"><h4 class="sppb-addon-title sppb-feature-box-title">Your Success is Our Success</h4><div class="sppb-addon-text">Foundation Alumni Chapters (FACs) are being&nbsp;launched in many places around the globe. Share your success story with us and showcase your talent through this platform. Let the FUI Alumni Network&nbsp;know you better.</div></div></div></div></div></div></div></div></div></div></section><section id="section-id-1551950610877" class="sppb-section "><div class="sppb-row-container"><div class="sppb-row"><div class="sppb-col-md-12" id="column-wrap-id-1551950610876"><div id="column-id-1551950610876" class="sppb-column"><div class="sppb-column-addons"><div id="sppb-addon-1551951476846" class=" sppb-wow fadeInLeft clearfix" data-sppb-wow-duration="300ms"><div class="sppb-addon sppb-addon-clients sppb-text-left "><h3 class="sppb-addon-title">Alumni Employment</h3><div class="sppb-addon-content"><div class="row align-items-center"><div class="col-2"><img class="sppb-img-responsive" src="~/Content/images/ffc-logo.png" alt="Client 1"></div><div class="col-2"><img class="sppb-img-responsive" src="~/Content/images/ffbl-logo.png" alt="Client 2"></div><div class="col-2"><img class="sppb-img-responsive" src="~/Content/images/teradata-logo.png" alt="Client 3"></div><div class="col-2"><img class="sppb-img-responsive" src="~/Content/images/askari-bank-logo.png" alt="Client 4"></div><div class="col-2"><img class="sppb-img-responsive" src="~/Content/images/ufone-logo.png" alt="Client 5"></div><div class="col-2"><img class="sppb-img-responsive" src="~/Content/images/ibm-logo.png" alt="Client 6"></div></div></div></div></div></div></div></div></div></div></section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section><section id="sp-bottom">
            <div class="container">
                <div class="row">
                    <div id="sp-bottom1" class="col-sm-6 col-md-3">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h4 class="sp-module-title">Contact Us</h4><div class="sp-module-content">

                                    <div class="custom">
                                        <p>Foundation University Islamabad</p>
                                        <p>Contact us at: <a href="mailto: alumni@fui.edu.pk">alumni@fui.edu.pk</a></p>
                                        <ul>
                                            <li>
                                                <p><span class="fa fa-volume-control-phone"><span class="dummy"> </span></span> Islamabad Campus:(+92)51-5788171-250</p>
                                            </li>
                                            <li>
                                                <p><span class="fa fa-volume-control-phone"><span class="dummy"> </span></span> Rawalpindi Campus:(+92)51-5151437-38</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><ul class="social-icons"><li><a target="_blank" href="https://www.facebook.com/fuislamabad/"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.linkedin.com/company/foundation-university-islamabad"><i class="fa fa-linkedin"></i></a></li></ul>
                        </div>
                    </div><div id="sp-bottom2" class="col-sm-6 col-md-3">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h4 class="sp-module-title">Useful Links</h4><div class="sp-module-content">
                                    <ul class="nav menu">
                                        <li class="item-475"><a href="#"> Success Stories</a></li>
                                        <li class="item-476"><a href="#"> Members Directory</a></li>
                                        <li class="item-477"><a href="#"> Job Postings</a></li>
                                        <li class="item-479"><a href="#"> Login to Community</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><div id="sp-bottom4" class="col-sm-6 col-md-6">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <h3 class="sp-module-title">Newsletter</h3><div class="sp-module-content">
                                    <div class="acymailing_module" id="acymailing_module_formAcymailing10421">
                                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing10421">
                                            <form id="formAcymailing10421" action="/index.php" onsubmit="return submitacymailingform('optin','formAcymailing10421')" method="post" name="formAcymailing10421">
                                                <div class="acymailing_module_form">
                                                    <div class="acymailing_introtext">Enter your email and we'll send you more information </div>			<div class="acymailing_form">
                                                        <p class="onefield fieldacyemail" id="field_email_formAcymailing10421">
                                                            <span class="acyfield_email acy_requiredField"><input id="user_email_formAcymailing10421" onfocus="if(this.value == 'Your Email...') this.value = '';" onblur="if(this.value=='') this.value='Your Email...';" class="inputbox" type="text" name="user[email]" style="width:100%" value="Your Email..." title="Your Email..."></span>
                                                        </p>

                                                        <p class="acysubbuttons">
                                                            <input class="button subbutton btn btn-primary" type="submit" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing10421'); }catch(err){alert('The form could not be submitted '+err);return false;}">
                                                        </p>
                                                    </div>
                                                    <input type="hidden" name="ajax" value="1">
                                                    <input type="hidden" name="acy_source" value="module_111">
                                                    <input type="hidden" name="ctrl" value="sub">
                                                    <input type="hidden" name="task" value="notask">
                                                    <input type="hidden" name="redirect" value="http%3A%2F%2Falumni.fui.edu.pk%2F">
                                                    <input type="hidden" name="redirectunsub" value="http%3A%2F%2Falumni.fui.edu.pk%2F">
                                                    <input type="hidden" name="option" value="com_acymailing">
                                                    <input type="hidden" name="hiddenlists" value="1">
                                                    <input type="hidden" name="acyformname" value="formAcymailing10421">
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div> <!-- /.body-innerwrapper -->
    </div> <!-- /.body-innerwrapper -->
    <!-- Off Canvas Menu -->
    <div class="offcanvas-menu">
        <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
        <div class="offcanvas-inner">
            <div class="sp-module ">
                <h3 class="sp-module-title">Search</h3><div class="sp-module-content">
                    <div class="search">
                        <form action="/index.php" method="post">
                            <input name="searchword" id="mod-search-searchword" maxlength="200" class="inputbox search-query" type="text" size="20" placeholder="Search ...">		<input type="hidden" name="task" value="search">
                            <input type="hidden" name="option" value="com_search">
                            <input type="hidden" name="Itemid" value="563">
                        </form>
                    </div>
                </div>
            </div>

        </div> <!-- /.offcanvas-inner -->
    </div> <!-- /.offcanvas-menu -->
    <!-- Preloader -->
    <!-- Go to top -->
    <a href="javascript:void(0)" class="scrollup">&nbsp;</a>
    <script src="~/Content/util.js"></script>
    <script src="~/Content/menu-aim.js"></script>
    <script src="~/Content/main.js"></script>
</body>
</html>
